* {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

#Container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

header {
    background: linear-gradient(to right, rgba(30, 255, 0, 0.76), rgb(42, 42, 42), rgb(0, 255, 149));
    height: 100px;
    width: 100%;
    border-radius: 34px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 14px solid rgb(0, 0, 0);
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix {
    clear: both;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;
    padding: 30px;
}

.gallery-item {
    background: linear-gradient(to right, rgba(0, 255, 200, 0.671), rgb(80, 80, 80), yellow);
    border: 1px solid #444444c7;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #000;
}

.gallery-item p {
    margin: 10px 0;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.gallery-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-item li {
    margin: 5px 0;
}

.gallery-item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.gallery-item a:hover {
    text-decoration: underline;
}

.letreros {
    width: 100%;
    text-align: center;
    color: red;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .gallery-item {
        width: 90%;
    }

    header {
        font-size: 18px;
        line-height: 1.2;
        height: auto;
        padding: 20px 0;
    }
}
